<!DOCTYPE html>
<html>
  <head>
    <title>L62</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div><%= link_to "main", root_path %></div>
    <div><%= link_to "my cart", "/carts/#{current_cart.id}" %></div>
    <div><%= link_to "cart change", top_re_path %></div>
    <%= yield %>
  </body>
</html>
